#h1c {
  margin: 0;
  padding: 0;
  min-height: 0;
}

#landingpage {
  font-family: "Roboto", sans-serif;
}
#landingpage .notMoveH1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #cdab82;
}
#landingpage .hdl2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #cdab82;
  padding-bottom: 72px;
}
#landingpage .hdl3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
#landingpage .lp-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
#landingpage .lp-text__large {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #ffffff;
}
#landingpage .lp-annotation {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

@media only screen and (max-width: 920px) {
  .mobile #articlePage #landingpage .notMoveH1, .mobile #articlePage #landingpage .hdl2, .mobile #articlePage #landingpage .hdl3, .mobile #articlePage #landingpage .lp-text, .mobile #articlePage #landingpage .lp-annotation,
  .mobileapp #articlePage #landingpage .notMoveH1,
  .mobileapp #articlePage #landingpage .hdl2,
  .mobileapp #articlePage #landingpage .hdl3,
  .mobileapp #articlePage #landingpage .lp-text,
  .mobileapp #articlePage #landingpage .lp-annotation {
    text-align: center;
  }
}
#layout_switch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
  width: 180px;
  height: 70px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}
#layout_switch button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 45px;
  height: 45px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
#layout_switch button .icon {
  width: 30px;
  height: 30px;
  fill: #737373;
}
#layout_switch button.active {
  box-shadow: inset 0px 2px 4px 0px rgba(128, 128, 128, 0.7);
}

#landingpage {
  max-width: 1310px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #FFFFFF;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#testLayout.layout-1 #articlePage #landingpage {
  width: 1310px;
}

#testLayout.layout-0 #articlePage #landingpage {
  width: 1035px;
}

.mobile #articlePage #landingpage,
.lp-container {
  max-width: 100%;
}

#landingpage {
  display: block;
  position: relative;
}
#landingpage .notMoveH1, #landingpage .hdl2, #landingpage .hdl3, #landingpage h4, #landingpage p, #landingpage ul, #landingpage ol, #landingpage li {
  margin: 0;
}
#landingpage input, #landingpage button, #landingpage textarea, #landingpage select {
  font: inherit;
}
#landingpage ul, #landingpage ol {
  list-style: none;
}
#landingpage ul li {
  padding: 0;
}
#landingpage img {
  display: block;
  height: auto;
  max-width: 100%;
  aspect-ratio: attr(width), attr(height);
  margin: auto;
}
#landingpage figure {
  margin: 0;
}
#landingpage .hidden {
  display: none;
}
#landingpage a {
  transition: all 200ms ease-in-out;
}

.lp-header {
  position: relative;
  padding: 24px 0;
  overflow: hidden;
}

.lp-section {
  position: relative;
  padding: 72px 0;
}

.lp-container__12 {
  padding-left: 65px;
  padding-right: 65px;
}
.lp-container__10 {
  padding-left: 145px;
  padding-right: 145px;
}
.lp-container__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.lp-column {
  flex: 1 1 0;
}

.lp-features--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.lp-features--icon {
  background: linear-gradient(to top, #cdab82 0%, #eadccb 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 24px;
  font-weight: 700;
}
.lp-features--divider {
  background: linear-gradient(to top, #cdab82 0%, #eadccb 100%);
  width: 2px;
  height: 24px;
  display: block;
}

#articlePage.blank p {
  margin-top: 0;
}

.lp-btn {
  text-align: center;
  font-weight: 500;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn__golden {
  background: linear-gradient(to bottom, #cdab82 0%, #be935e 100%);
  color: #ffffff;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.4) inset;
}
.btn__golden:hover {
  background: linear-gradient(to bottom, #be935e 0%, #a67943 100%);
}
.btn__golden:active {
  background: linear-gradient(to bottom, #a67943 0%, #825f34 100%);
}
.btn__normal__fixed {
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  padding: 0 25px;
}
.btn__normal__full {
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  width: 166px;
}

#landingpage .lpFooter {
  overflow: hidden;
  position: relative;
}
#landingpage .lpFooter .lp-container {
  text-align: center;
  position: relative;
  z-index: 10;
}
#landingpage .lpFooter .lp-container .hdl2 {
  padding-top: 80px;
  color: #fff;
  margin: 0;
}
#landingpage .lpFooter .lp-container .par {
  margin-top: 30px;
  color: #fff;
}

#articlePage #landingpage #newSocialContainer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 48px 0 100px;
}

@media only screen and (max-width: 920px) {
  .mobile #articlePage #landingpage .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-container__flex {
    flex-direction: column;
  }
  .mobile #articlePage #landingpage .lp-column, .mobile #articlePage #landingpage .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-column,
  .mobileapp #articlePage #landingpage .lp-column__sole {
    align-items: center;
    gap: 48px;
  }
  .mobile #articlePage #landingpage .lp-column__sole, .mobile #articlePage #landingpage .lp-column__sole__sole,
  .mobileapp #articlePage #landingpage .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-column__sole__sole {
    align-items: center;
  }
  .mobile #articlePage #landingpage .lp-features--row,
  .mobileapp #articlePage #landingpage .lp-features--row {
    justify-content: center;
  }
  .mobile #articlePage #landingpage .lpFooter,
  .mobileapp #articlePage #landingpage .lpFooter {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .mobile #articlePage #landingpage .lp-container__10,
  .mobileapp #articlePage #landingpage .lp-container__10 {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media only screen and (max-width: 500px) {
  .mobile #articlePage #landingpage .lp-container__10, .mobile #articlePage #landingpage .lp-container__12,
  .mobileapp #articlePage #landingpage .lp-container__10,
  .mobileapp #articlePage #landingpage .lp-container__12 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .mobile #articlePage #landingpage .lp-features--icon,
  .mobileapp #articlePage #landingpage .lp-features--icon {
    font-size: 18px;
  }
}
#landingpage {
  background-color: #000000;
}
#landingpage .lp-header {
  background-image: url("https://cdn.alza.cz/Foto/or/articles/36437/img/header_bg.png");
  background-size: cover;
  background-position: center;
  height: 620px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-header {
    background-image: url("https://cdn.alza.cz/Foto/or/articles/36437/img/header_bg@2x.png");
  }
}
#landingpage .lp-header .img__asus {
  fill: #ffffff;
  height: 20px;
  width: 90px;
}
#landingpage .lp-header .img__proart {
  fill: #cdab82;
  height: 30px;
  width: 113px;
  padding-right: 10px;
}
#landingpage .lp-header figure {
  display: inline-block;
}
#landingpage .lp-header .notMoveH1 {
  display: inline-block;
  padding-top: 48px;
}
#landingpage .lp-header--heading, #landingpage .lp-header .hdl2 {
  margin: auto;
  text-align: center;
}
#landingpage .lp-section__warranty {
  background-image: url("https://cdn.alza.cz/Foto/or/articles/36437/img/section2_bg.png");
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__warranty {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section2_bg@2x.png");
  }
}
#landingpage .lp-section__warranty .lp-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landingpage .lp-section__warranty .img__warranty {
  padding-top: 48px;
}
#landingpage .lp-section__warranty ul {
  color: #ffffff;
  padding: 48px 0;
}
#landingpage .lp-section__creators {
  background-color: #181818;
}
#landingpage .lp-section__creators .lp-container__flex {
  flex-direction: column;
  gap: 0;
}
#landingpage .lp-section__creators .hdl2 {
  text-align: center;
}
#landingpage .lp-section__creators .hdl3 {
  color: #ffffff;
  padding: 24px;
}
#landingpage .lp-section__creators .lp-text {
  padding: 24px;
}
#landingpage .lp-section__creators .creators--wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 48px;
}
#landingpage .lp-section__creators .creators--column {
  flex: 1 1 0;
}
#landingpage .lp-section__creators .creators--heading {
  height: 227px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
#landingpage .lp-section__creators .creators--stripe {
  height: 20px;
  margin-bottom: 24px;
  background: linear-gradient(to right, #cdab82 0%, #392a17 100%);
}
#landingpage .lp-section__creators .colorists--heading {
  background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/colorists.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__creators .colorists--heading {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/colorists@2x.png");
  }
}
#landingpage .lp-section__creators .photo--heading {
  background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/cinematographers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__creators .photo--heading {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/cinematographers@2x.png");
  }
}
#landingpage .lp-section__creators .cinema--heading {
  background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/photographers.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__creators .cinema--heading {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/photographers@2x.png");
  }
}
#landingpage .lp-section__creators a {
  text-decoration: none;
  color: #ffffff;
}
#landingpage .lp-section__visuals {
  background: linear-gradient(to bottom, #181818 0%, #373737 100%);
  padding-top: 24px;
}
#landingpage .lp-section__visuals .lp-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
#landingpage .lp-section__visuals .lp-features .hdr {
  font-size: 30px;
}
#landingpage .lp-section__visuals .lp-features .lp-text {
  color: #cdab82;
}
#landingpage .lp-section__visuals .lp-features--divider {
  height: 45px;
}
#landingpage .lp-section__visuals .hdl2 {
  padding-bottom: 0;
}
#landingpage .lp-section__contrast {
  height: 634px;
  position: relative;
  padding: 0;
}
#landingpage .lp-section__contrast .img__bgr6 {
  position: absolute;
  top: 0;
}
#landingpage .lp-section__contrast .hdl2 {
  padding: 0;
}
#landingpage .lp-section__contrast .lp-container__flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 634px;
}
#landingpage .lp-section__contrast .lp-column__sole {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 105;
}
#landingpage .lp-section__hdr {
  height: 648px;
  position: relative;
  padding: 0;
}
#landingpage .lp-section__hdr .hdl2 {
  text-align: center;
  padding: 28px 0 0 0;
  position: relative;
  z-index: 105;
}
#landingpage .lp-section__hdr .img__bgr7 {
  position: absolute;
  bottom: 0;
  right: 0;
}
#landingpage .lp-section__hdr .img__dolby {
  margin: 0;
}
#landingpage .lp-section__hdr .lp-container__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 466px;
}
#landingpage .lp-section__hdr .lp-column__sole {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 105;
}
#landingpage .lp-section__hdr .lp-text--wrapper > p {
  padding-bottom: 24px;
}
#landingpage .lp-section__hdr .lp-text--wrapper > p:last-of-type {
  padding-bottom: 0;
}
#landingpage .lp-section__experience {
  height: 737px;
  position: relative;
  padding: 0;
}
#landingpage .lp-section__experience .hdl2 {
  padding-bottom: 0;
}
#landingpage .lp-section__experience .img__bgr8 {
  position: absolute;
  top: 0;
  right: 0;
}
#landingpage .lp-section__experience .img__experience {
  position: absolute;
  right: 0;
  top: 72px;
}
#landingpage .lp-section__experience .lp-container__flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 105;
  height: 706px;
}
#landingpage .lp-section__experience .lp-column__sole {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#landingpage .lp-section__experience .lp-features--row {
  padding-bottom: 14px;
}
#landingpage .lp-section__truecolor {
  background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section9_bg.png");
  background-size: cover;
  height: 570px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 72px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__truecolor {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section9_bg@2x.png");
  }
}
#landingpage .lp-section__truecolor .hdl2 {
  padding-bottom: 0;
}
#landingpage .lp-section__truecolor .img__truecolor {
  position: absolute;
  left: 10%;
  bottom: 0;
}
#landingpage .lp-section__truecolor .img__calman {
  height: auto;
  width: 150px;
}
#landingpage .lp-section__truecolor .lp-container__flex {
  align-items: flex-end;
  justify-content: flex-end;
}
#landingpage .lp-section__truecolor .lp-column__sole {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
#landingpage .lp-section__fidelity {
  background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section10_bg.png");
  background-size: cover;
  background-position: center;
  height: 783px;
  text-align: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__fidelity {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section10_bg@2x.png");
  }
}
#landingpage .lp-section__fidelity .img__bgr10 {
  display: none;
}
#landingpage .lp-section__fidelity .hdl2 {
  color: #ffffff;
  padding-bottom: 0;
}
#landingpage .lp-section__fidelity .lp-bgrimg {
  background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section10_product.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 720px;
  width: 713px;
  margin: auto;
  padding: 72px 72px 12px 72px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__fidelity .lp-bgrimg {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section10_product@2x.png");
  }
}
#landingpage .lp-section__fidelity .lp-bgrimg > * {
  padding-bottom: 72px;
}
#landingpage .lp-section__fidelity a {
  text-decoration: none;
  color: #ffffff;
}
#landingpage .lp-section__videos {
  background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section11_bg.png");
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #landingpage .lp-section__videos {
    background-image: url(" https://cdn.alza.cz/Foto/or/articles/36437/img/section11_bg@2x.png");
  }
}
#landingpage .lp-section__videos .lp-container__flex {
  flex-direction: column;
  gap: 0;
}
#landingpage .lp-section__videos .hdl2 {
  text-align: center;
}
#landingpage .lp-section__videos .hdl3 {
  color: #cdab82;
}
#landingpage .lp-section__videos .lp-column {
  width: 40%;
}
#landingpage .lp-section__videos .videos--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 72px;
  gap: 24px;
}
#landingpage .lp-section__videos .videos--heading {
  padding-bottom: 24px;
}
#landingpage .lp-section__videos .videos--heading p {
  color: #cdab82;
}
#landingpage .lp-section__videos .videos--heading--sub {
  max-width: 560px;
}
#landingpage .lp-section__videos a {
  text-decoration: none;
  color: #ffffff;
}

.layout-0 #articlePage #landingpage .lp-section__contrast {
  height: 503px;
}
.layout-0 #articlePage #landingpage .lp-section__contrast .lp-container__flex {
  height: 503px;
}
.layout-0 #articlePage #landingpage .lp-section__contrast .img__bgr6 {
  height: 503px;
  width: auto;
}
.layout-0 #articlePage #landingpage .lp-section__hdr {
  height: 509px;
}
.layout-0 #articlePage #landingpage .lp-section__hdr .lp-container__flex {
  height: 404px;
}
.layout-0 #articlePage #landingpage .lp-section__hdr .hdl2 {
  padding: 0 0 48px 0;
}
.layout-0 #articlePage #landingpage .lp-section__hdr .img__bgr7 {
  height: 518px;
  width: auto;
}
.layout-0 #articlePage #landingpage .lp-section__experience {
  height: 582px;
}
.layout-0 #articlePage #landingpage .lp-section__experience .lp-column__sole {
  width: 60%;
}
.layout-0 #articlePage #landingpage .lp-section__experience .lp-container__flex {
  height: 552px;
}
.layout-0 #articlePage #landingpage .lp-section__experience .img__bgr8 {
  height: 582px;
  width: auto;
}
.layout-0 #articlePage #landingpage .lp-section__truecolor {
  height: 444px;
}
.layout-0 #articlePage #landingpage .lp-section__truecolor .lp-column__sole {
  width: 75%;
}
.layout-0 #articlePage #landingpage .lp-section__truecolor .img__truecolor {
  display: none;
}
.layout-0 #articlePage #landingpage .lp-section__videos .videos--sub {
  flex: 1.2 1 0;
}
.layout-0 #articlePage #landingpage .lp-section__videos .videos--row {
  align-items: flex-start;
}

@media only screen and (max-width: 1035px) {
  .mobile #articlePage #landingpage .lp-section__contrast,
  .mobileapp #articlePage #landingpage .lp-section__contrast {
    height: 503px;
  }
  .mobile #articlePage #landingpage .lp-section__contrast .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-section__contrast .lp-container__flex {
    height: 503px;
  }
  .mobile #articlePage #landingpage .lp-section__contrast .img__bgr6,
  .mobileapp #articlePage #landingpage .lp-section__contrast .img__bgr6 {
    height: 503px;
    width: auto;
  }
  .mobile #articlePage #landingpage .lp-section__hdr,
  .mobileapp #articlePage #landingpage .lp-section__hdr {
    height: 509px;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-section__hdr .lp-container__flex {
    height: 404px;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .hdl2,
  .mobileapp #articlePage #landingpage .lp-section__hdr .hdl2 {
    padding: 0 0 48px 0;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .img__bgr7,
  .mobileapp #articlePage #landingpage .lp-section__hdr .img__bgr7 {
    height: 518px;
    width: auto;
  }
  .mobile #articlePage #landingpage .lp-section__experience,
  .mobileapp #articlePage #landingpage .lp-section__experience {
    height: 582px;
  }
  .mobile #articlePage #landingpage .lp-section__experience .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__experience .lp-column__sole {
    width: 60%;
  }
  .mobile #articlePage #landingpage .lp-section__experience .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-section__experience .lp-container__flex {
    height: 552px;
  }
  .mobile #articlePage #landingpage .lp-section__experience .img__bgr8,
  .mobileapp #articlePage #landingpage .lp-section__experience .img__bgr8 {
    height: 582px;
    width: auto;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor,
  .mobileapp #articlePage #landingpage .lp-section__truecolor {
    height: 444px;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__truecolor .lp-column__sole {
    width: 75%;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor .img__truecolor,
  .mobileapp #articlePage #landingpage .lp-section__truecolor .img__truecolor {
    display: none;
  }
  .mobile #articlePage #landingpage .lp-section__videos .videos--sub,
  .mobileapp #articlePage #landingpage .lp-section__videos .videos--sub {
    flex: 1.2 1 0;
  }
  .mobile #articlePage #landingpage .lp-section__videos .videos--row,
  .mobileapp #articlePage #landingpage .lp-section__videos .videos--row {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 980px) {
  .mobile #articlePage #landingpage .lp-header,
  .mobileapp #articlePage #landingpage .lp-header {
    background-image: none;
    height: auto;
  }
  .mobile #articlePage #landingpage .lp-header--heading,
  .mobileapp #articlePage #landingpage .lp-header--heading {
    padding-top: 72px;
  }
  .mobile #articlePage #landingpage .lp-section__warranty,
  .mobileapp #articlePage #landingpage .lp-section__warranty {
    background-image: none;
    background: linear-gradient(to bottom, #000000 0%, #252525 100%);
    padding-top: 0;
  }
  .mobile #articlePage #landingpage .lp-section__warranty .img__warranty,
  .mobileapp #articlePage #landingpage .lp-section__warranty .img__warranty {
    padding-top: 72px;
  }
  .mobile #articlePage #landingpage .lp-section__warranty ul,
  .mobileapp #articlePage #landingpage .lp-section__warranty ul {
    padding-bottom: 0;
  }
  .mobile #articlePage #landingpage .lp-section__contrast,
  .mobileapp #articlePage #landingpage .lp-section__contrast {
    height: auto;
    text-align: center;
  }
  .mobile #articlePage #landingpage .lp-section__contrast .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-section__contrast .lp-container__flex {
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .mobile #articlePage #landingpage .lp-section__contrast .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__contrast .lp-column__sole {
    align-items: center;
    padding-top: 72px;
    width: 80%;
  }
  .mobile #articlePage #landingpage .lp-section__contrast .img__bgr6,
  .mobileapp #articlePage #landingpage .lp-section__contrast .img__bgr6 {
    position: static;
    padding-top: 6px;
  }
  .mobile #articlePage #landingpage .lp-section__hdr,
  .mobileapp #articlePage #landingpage .lp-section__hdr {
    height: auto;
    text-align: center;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-section__hdr .lp-container__flex {
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__hdr .lp-column__sole {
    align-items: center;
    padding-top: 48px;
    width: 80%;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .lp-annotation,
  .mobileapp #articlePage #landingpage .lp-section__hdr .lp-annotation {
    padding-bottom: 12px;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .hdl2,
  .mobileapp #articlePage #landingpage .lp-section__hdr .hdl2 {
    padding: 48px 24px 0 24px;
  }
  .mobile #articlePage #landingpage .lp-section__hdr .img__bgr7,
  .mobileapp #articlePage #landingpage .lp-section__hdr .img__bgr7 {
    position: static;
    width: 100%;
    height: auto;
    margin-top: -10%;
  }
  .mobile #articlePage #landingpage .lp-section__experience,
  .mobileapp #articlePage #landingpage .lp-section__experience {
    height: auto;
    text-align: center;
  }
  .mobile #articlePage #landingpage .lp-section__experience .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-section__experience .lp-container__flex {
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .mobile #articlePage #landingpage .lp-section__experience .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__experience .lp-column__sole {
    align-items: center;
    padding-top: 72px;
    width: 80%;
  }
  .mobile #articlePage #landingpage .lp-section__experience .img__bgr8,
  .mobileapp #articlePage #landingpage .lp-section__experience .img__bgr8 {
    width: 100%;
    padding-top: 48px;
    position: static;
  }
  .mobile #articlePage #landingpage .lp-section__experience .lp-features--row,
  .mobileapp #articlePage #landingpage .lp-section__experience .lp-features--row {
    justify-content: center;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor,
  .mobileapp #articlePage #landingpage .lp-section__truecolor {
    height: auto;
    text-align: center;
    background: none;
    padding: 24px 0;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor .lp-container__flex,
  .mobileapp #articlePage #landingpage .lp-section__truecolor .lp-container__flex {
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__truecolor .lp-column__sole {
    align-items: center;
    padding-top: 0;
    width: 80%;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor .img__truecolor,
  .mobileapp #articlePage #landingpage .lp-section__truecolor .img__truecolor {
    display: none;
  }
  .mobile #articlePage #landingpage .lp-section__truecolor .img__calman,
  .mobileapp #articlePage #landingpage .lp-section__truecolor .img__calman {
    order: 1;
  }
  .mobile #articlePage #landingpage .lp-section__fidelity,
  .mobileapp #articlePage #landingpage .lp-section__fidelity {
    background: linear-gradient(to bottom, #000000 0%, #181818 100%);
    padding-bottom: 0;
    height: auto;
  }
  .mobile #articlePage #landingpage .lp-section__fidelity .lp-bgrimg,
  .mobileapp #articlePage #landingpage .lp-section__fidelity .lp-bgrimg {
    background: none;
    height: auto;
    max-width: 100%;
    padding: 0;
  }
  .mobile #articlePage #landingpage .lp-section__fidelity .img__bgr10,
  .mobileapp #articlePage #landingpage .lp-section__fidelity .img__bgr10 {
    display: block;
  }
  .mobile #articlePage #landingpage .lp-section__fidelity .hdl2,
  .mobileapp #articlePage #landingpage .lp-section__fidelity .hdl2 {
    color: #cdab82;
  }
  .mobile #articlePage #landingpage .lp-section__fidelity a,
  .mobileapp #articlePage #landingpage .lp-section__fidelity a {
    margin: 36px 0 72px 0;
  }
  .mobile #articlePage #landingpage .lp-section__videos,
  .mobileapp #articlePage #landingpage .lp-section__videos {
    padding-top: 72px;
  }
  .mobile #articlePage #landingpage .lp-section__videos .videos--row,
  .mobileapp #articlePage #landingpage .lp-section__videos .videos--row {
    flex-direction: column;
  }
  .mobile #articlePage #landingpage .lp-section__videos .videos--sub,
  .mobileapp #articlePage #landingpage .lp-section__videos .videos--sub {
    flex: 1.2 1 0;
  }
  .mobile #articlePage #landingpage .lp-section__videos .lp-column,
  .mobileapp #articlePage #landingpage .lp-section__videos .lp-column {
    width: 80%;
  }
  .mobile #articlePage #landingpage .lp-section__videos .sub2,
  .mobileapp #articlePage #landingpage .lp-section__videos .sub2 {
    order: -1;
  }
  .mobile #articlePage #landingpage .lp-section__videos .youTubeWrapper,
  .mobileapp #articlePage #landingpage .lp-section__videos .youTubeWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .mobile #articlePage #landingpage .lp-section__videos iframe,
  .mobileapp #articlePage #landingpage .lp-section__videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 920px) {
  .mobile #articlePage #landingpage .lp-section__warranty .lp-column:last-of-type,
  .mobileapp #articlePage #landingpage .lp-section__warranty .lp-column:last-of-type {
    order: -1;
  }
  .mobile #articlePage #landingpage .lp-section__creators .creators--wrapper,
  .mobileapp #articlePage #landingpage .lp-section__creators .creators--wrapper {
    flex-direction: column;
    gap: 72px;
  }
  .mobile #articlePage #landingpage .lp-section__creators .lp-text,
  .mobileapp #articlePage #landingpage .lp-section__creators .lp-text {
    padding: 0;
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 850px) {
  .mobile #articlePage #landingpage .lp-section__truecolor,
  .mobileapp #articlePage #landingpage .lp-section__truecolor {
    height: auto;
    text-align: center;
    background: none;
  }
}
@media only screen and (max-width: 650px) {
  .mobile #articlePage #landingpage .lp-header .notMoveH1,
  .mobileapp #articlePage #landingpage .lp-header .notMoveH1 {
    padding-top: 24px;
  }
  .mobile #articlePage #landingpage .lp-section__creators .lp-text,
  .mobileapp #articlePage #landingpage .lp-section__creators .lp-text {
    width: 100%;
  }
  .mobile #articlePage #landingpage .lp-section__fidelity .lp-bgrimg > *,
  .mobileapp #articlePage #landingpage .lp-section__fidelity .lp-bgrimg > * {
    padding-bottom: 48px;
  }
  .mobile #articlePage #landingpage .lp-section__contrast .lp-column__sole, .mobile #articlePage #landingpage .lp-section__hdr .lp-column__sole, .mobile #articlePage #landingpage .lp-section__experience .lp-column__sole, .mobile #articlePage #landingpage .lp-section__truecolor .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__contrast .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__hdr .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__experience .lp-column__sole,
  .mobileapp #articlePage #landingpage .lp-section__truecolor .lp-column__sole {
    width: 95%;
  }
}